<ion-content>

    <div>
        <div class="heading">
            <h1> Receive Cash Entry</h1>
        </div>

        <div>
            <form [formGroup]="submitform" (ngSubmit)="onSubmit()">
                <ion-row>
                    <ion-col>
                        <ion-list inset>

                            <ion-item>
                                <div class="form-field">
                                    <ion-input type="text" formControlName="fullname" placeholder="Holder Name"
                                               required></ion-input>
                                </div>
                            </ion-item>

                            <ion-item>
                                <div class="form-field">
                                    <ion-input type="number" placeholder="Amount" formControlName="amount" required></ion-input>
                                </div>
                            </ion-item>

                            <ion-item class="select_option">
                                <div class="form-field">
                                    <ion-datetime type="date" displayFormat="DD/MM/YYYY" formControlName="date"
                                                  placeholder="DD/MM/YYYY"></ion-datetime>
                                </div>
                            </ion-item>

                            <ion-item>
                                <div class="form-field">
                                    <ion-input type="number" placeholder="Contact Number" formControlName="contact"
                                               required></ion-input>
                                </div>
                            </ion-item>
                            <ion-item class="select_option">
                                <div class="form-field">
                                    <ion-textarea placeholder="*Remark" formControlName="remark"
                                                  required></ion-textarea>
                                </div>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>

                    <ion-col class="submit-btn">
                        <div class="form-field">
                            <ion-button color="success" fill="outline" shape="round" type="submit" [disabled]="!submitform.valid">Submit</ion-button>
                        </div>
                    </ion-col>

                </ion-row>

            </form>
        </div>
    </div>

</ion-content>



















