.full_btn{
margin-top:20%;
margin-left:10%;

}

.text_dash{
text-align:center;
color:#ADADAD;
margin-top:10%;
}

.select_option{
color:#9b9b9b;
}

.heading{
color:#8CB4CD;
text-align:center;
margin-top:10%;
}

.text_watermark{
color: #ADADAD;
margin-top:10%;
margin-left:10%;
}

.payment_btn{
  cursor: pointer;
  display: block;
}

.submit-btn{
color:#8CB4CD;
text-align:center;
}

.show_menu{
text-align:center;
color:white;
}


.footer_width{
height:50px;
}

.footer_home{
height:30px;
width:30px;
}