<ion-app>
    <ion-content>

        <div>
            <img class="mx-auto d-block mt-5 mb-2" src="/assets/icon/site-logo.png">
        </div>

        <div>
            <ion-row>
                <ion-col size="12">
                    <div>
                        <h1 class="heading">Login</h1>
                    </div>
                </ion-col>
            </ion-row>
        </div>


        <div>
            <form>
                <ion-grid class="main_grid">
                    <ion-row>

                        <ion-col size="12">
                            <ion-list>

                                <ion-item>
                                    <ion-icon slot="start" name="person" color="primary"></ion-icon>
                                    <ion-input type="text" name="username" placeholder="Mobile no. or e-mail"
                                               required></ion-input>
                                </ion-item>

                            </ion-list>
                        </ion-col>

                    </ion-row>
				</ion-grid>

				<ion-grid class="main_grid">
                    <ion-row>

                        <ion-col size="12">
                            <ion-list>

                                <ion-item>
                                    <ion-icon slot="start" name="key" color="primary"></ion-icon>
                                    <ion-input type="password" name="password" placeholder="Password"
                                               required></ion-input>
                                </ion-item>

                            </ion-list>
                        </ion-col>

                    </ion-row>
                </ion-grid>


                <ion-grid class="danger_btn">

                    <ion-button [routerLink]="['/tabs/home']" expand="block" shape="round" color="danger">Login
                    </ion-button>
                </ion-grid>
                <div>
                    <h6 class="fgt_pwd" (click)="forgetpwdlink()" routerDirection="forward">Forget Password..?</h6>
                </div>
            </form>
        </div>

        <hr class="hr_line">

        <ion-grid class="blue_btn">
            <ion-row>
                <ion-col size="12">
                    <h6 class="message_acc"> you don't have account..!</h6>
                    <ion-button [routerLink]="['/signup']" expand="block" color="primary">New Registration
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>


        <!--				<ion-row>-->
        <!--					<ion-col size="12">-->
        <!--						<ion-grid class="login_btn">-->
        <!--							<ion-button  [routerLink]="['/tabs/home']"  expand="block" shape="round" color="danger">Login</ion-button>-->
        <!--						</ion-grid>-->
        <!--						<div class="forget_pws">-->
        <!--							<p><a href="">Forget Password..?</a></p>-->
        <!--						</div>-->
        <!--					</ion-col>-->
        <!--				</ion-row>-->
        <!--			</form>-->
        <!--		</div>-->


        <!--			<div>-->
        <!--				<ion-row>-->
        <!--					<ion-col size="12">-->
        <!--						<div class="login_btn">-->
        <!--							<p> you don't have account..!</p>-->
        <!--							<ion-button  [routerLink]="['/signup']" expand="block" color="primary">Signup</ion-button>-->
        <!--						</div>-->
        <!--					</ion-col>-->
        <!--				</ion-row>-->
        <!--			</div>-->


    </ion-content>
</ion-app>