<ion-app>
	<ion-content>

		<div>
			<img class="mx-auto d-block mt-5 mb-2" src="/assets/icon/site-logo.png">
		</div>

		<div>

			<ion-row>
					<ion-col size="12">
						<div >
							<h1 class="heading">Login</h1>
						</div>
					</ion-col>
				</ion-row>
		</div>
		<div>
			<form>
				<ion-row>

					<ion-col size="12">
						<ion-list>

							<ion-item>
								<ion-icon slot="start" name="person" color="primary"></ion-icon>
								<ion-input type="text" name="username" placeholder="Mobile no. or e-mail"
										   required></ion-input>
							</ion-item>

						</ion-list>
					</ion-col>

				</ion-row>

				<ion-row>

					<ion-col size="12">
						<ion-list>

							<ion-item>
								<ion-icon slot="start" name="key" color="primary"></ion-icon>
								<ion-input type="password" name="password" placeholder="Password"
										   required></ion-input>
							</ion-item>

						</ion-list>
					</ion-col>

				</ion-row>


				<ion-row>
					<ion-col size="12">
						<div class="login_btn">
							<ion-button  [routerLink]="['/processing']"  expand="block" shape="round" color="danger">Login</ion-button>
						</div>
						<div class="forget_pws">
							<p><a href="">Forget Password..?</a></p>
						</div>
					</ion-col>
				</ion-row>
			</form>
		</div>

			<div>
				<ion-row>
					<ion-col size="12">
						<div class="login_btn">
							<p>If you don't have account..!</p>
							<ion-button  [routerLink]="['/signup']" expand="block" color="primary">Signup</ion-button>
						</div>
					</ion-col>
				</ion-row>
			</div>



	</ion-content>
</ion-app>