<ion-content class="ion-padding">

    <ion-grid class="full_btn">
        <form>
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <div >
                        <img width="50px;" src="/assets/icon/debit-card.svg" (click)="paymentlink()" routerDirection="forward">
                        <p class="payment_text">Payment</p>
                    </div>
                </ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <div>
                        <img width="50px;" src="/assets/icon/money.svg" (click)="receivelink()" routerDirection="forward">
                        <p class="receive_text">Receive</p>
                    </div>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </form>
    </ion-grid>


    <ion-grid class="payment_btn">
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <div>
                    <ion-button class="payment_mode_btn" [routerLink]="['/tabs/pcash']" color="success" shape="round"
                                fill="outline">
                        Cash
                    </ion-button>
                </div>
            </ion-col>

            <ion-col>
                <div>
                    <ion-button class="payment_mode_btn" [routerLink]="['/tabs/pbank']" color="success" shape="round"
                                fill="outline">
                        Bank
                    </ion-button>
                </div>
            </ion-col>

            <ion-col></ion-col>
        </ion-row>
        <!--    </ion-grid>-->

        <!--    <ion-grid class="payment_btn">-->
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <div>
                    <ion-button class="payment_mode_btn" [routerLink]="['/tabs/pcheque']" color="success" shape="round"
                                fill="outline">Cheque
                    </ion-button>
                </div>
            </ion-col>

            <ion-col>
                <div>
                    <ion-button class="payment_mode_btn" [routerLink]="['/tabs/ppaytm']" color="success" shape="round"
                                fill="outline">PayTm
                    </ion-button>
                </div>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
