.bg_light{
background-color:#DAAD3E;
}

.payment_btn{
 margin-top:20%;
margin-left:10%;
}

.full_btn{
margin-top:20%;
margin-left:10%;
}

.payment_mode_btn{
width:120px;
}

.footer_home{
height:30px;
width:30px;

}

.text_watermark{
color: #ADADAD;
margin-top:10%;
margin-left:10%;
}


