
.payment_btn{
 margin-top: 20%;
 justify-content: center;
 align-items: center;
}

.full_btn{
margin-top:20%;
justify-content: center;
 align-items: center;
}

.payment_mode_btn{
width:120px;
}

.social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.receive_text{
    color: #7d7d7d;
}
.payment_text{
    color: #E31459;
}



