
.payment_btn{
 margin-top: 20%;
 justify-content: center;
 align-items: center;
}

.full_btn{
margin-top:20%;
justify-content: center;
 align-items: center;
}

.payment_mode_btn{
width:120px;
}





