.icon_btn {
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  background-color: white;
  padding: 0;
  border-spacing: 0;
}

.icon_text {
  color: #7d7d7d;
}


.filter_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0;
  border-spacing: 0;
  overflow: hidden;

}

.filter_row {
  background-color: white;
}

.filter_btn {
  width: 90px;
  padding: 0px;
}


.border_table {
  border: 1px solid #b8b8b8;
}

.main_table {
  //margin-top: 20%;
}

.home_table {
  //border: 1px solid #4d4d4d;
  text-align: center;
  color: #4d4d4d;
  font-weight: bold;
}





