<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

        <ion-grid class="icon_btn">

            <ion-row class="icon_row">
                <ion-col></ion-col>
                <ion-col>

                    <img width="40px;" src="/assets/icon/debit-card.svg" [routerLink]="['/tabs/payment']">
                    <p class="icon_text">Payment</p>
                </ion-col>

                <ion-col></ion-col>
                <ion-col>

                    <img width="40px;" src="/assets/icon/money.svg" [routerLink]="['/tabs/receive']">
                    <p class="icon_text">Receive</p>
                </ion-col>

                <ion-col></ion-col>
            </ion-row>

        </ion-grid>

        <ion-grid class="filter_grid">
            <ion-row class="filter_row">
                <ion-col>
                    <ion-button class="filter_btn" expand="block" color="warning">Pending</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="filter_btn" expand="block" color="danger">Payed</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="filter_btn" expand="block" color="success">Received</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>


    <app-hometable></app-hometable>


</ion-content>
