<ion-app>
    <ion-content>

        <ion-grid class="full_btn">
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <div>
                        <img width="50px;" src="/assets/icon/debit-card.svg" [routerLink]="['/tabs/payment']">
                        <p class="icon_text">Payment</p>
                    </div>
                </ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <div>
                        <img width="50px;" src="/assets/icon/money.svg" [routerLink]="['/tabs/receive']">
                        <p class="icon_text">Receive</p>
                    </div>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="filter_bar">
            <ion-row>
                <ion-col>
                    <ion-button class="filter_btn" expand="block" color="warning">Pending</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="filter_btn" expand="block" color="danger">Payed</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="filter_btn" expand="block" color="success">Received</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>


<!--        <ion-grid>-->
<!--            <app-hometable></app-hometable>-->
<!--        </ion-grid>-->

        <!--    <ion-grid class="border_table">-->
        <!--        <ion-row>-->
        <!--            <ion-col class="home_table">Name</ion-col>-->

        <!--            <ion-col class="home_table">Amount</ion-col>-->

        <!--            <ion-col class="home_table">States</ion-col>-->

        <!--            <ion-col class="home_table">Image</ion-col>-->
        <!--        </ion-row>-->
        <!--    </ion-grid>-->
    </ion-content>
</ion-app>