.bg_light{
background-color:#DAAD3E;
}


.receive_btn{
 margin-top:20%;
margin-left:10%;
}

.full_btn{
margin-top:10%;
margin-left:10%;

}

.receive_mode_btn{
width:120px;

}

.text_dash{
text-align:center;
color:#ADADAD;
margin-top:10%;
}


.text_watermark{
color: #ADADAD;
margin-top:10%;
margin-left:10%;
}


.payment_btn{
  cursor: pointer;
  display: block;
}



.footer_icon:hover{
height:30px;
width:30px;
color:red;
}

.footer_icon{
height:25px;
width:25px;
}