
.heading{
font-size:40px;
color:#E31459;
text-align:center;
}

.main_grid {
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 30%;
}

.danger_btn {
  justify-content: center;
  align-items: center;
  width: 200px;
}
