<ion-app>
    <ion-content>

        <div>
            <img class="mx-auto d-block mt-5 mb-2" src="/assets/icon/site-logo.png">
        </div>

        <div>
                <ion-row>
                    <ion-col size="12">
                        <div>
                            <h1 class="heading">Signup</h1>
                        </div>
                    </ion-col>
                </ion-row>
		</div>

		<div>
			<form [formGroup]="SignupForm"  novalidate>
				<ion-row>
					<ion-col size="12">
						<div class="input-group form-group">
							<ion-list>

								<ion-item>
									<ion-icon slot="start" name="person" color="primary"></ion-icon>
									<ion-input type="text" formControlName="username" placeholder="Username"
											   required></ion-input>
									<div *ngFor="let error of errorMessage.username">
										<ng-container
												*ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
											<small class="error-message">{{error.message}}</small>
										</ng-container>
									</div>
								</ion-item>


								<ion-item>
									<ion-icon slot="start"  name="mail" color="primary"></ion-icon>
									<ion-input type="email" formControlName="email" placeholder="E-mail" required></ion-input>
									<div *ngFor="let error of errorMessage.email">
										<ng-container
												*ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
											<small class="error-message">{{error.message}}</small>
										</ng-container>
									</div>
								</ion-item>


								<ion-item>
									<ion-icon slot="start" name="call" color="primary"></ion-icon>
									<ion-input type="number" formControlName="mobile" placeholder="+91" required></ion-input>
									<div *ngFor="let error of errorMessage.mobile">
										<ng-container
												*ngIf="mobile.hasError(error.type) && (mobile.dirty || mobile.touched)">
											<small class="error-message">{{error.message}}</small>
										</ng-container>
									</div>
								</ion-item>


								<ion-item>
									<ion-icon slot="start" name="key" color="primary"></ion-icon>
									<ion-input type="password" formControlName="password" placeholder="Password"
											   required></ion-input>
									<div *ngFor="let error of errorMessage.password">
										<ng-container
												*ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
											<small class="error-message">{{error.message}}</small>
										</ng-container>
									</div>
								</ion-item>

							</ion-list>
						</div>
					</ion-col>

				</ion-row>



						<div>
							<ion-button [routerLink]="['/login']"class="login_btn" type="submit" expand="block" shape="round" color="danger">Signup
							</ion-button>
						</div>


			</form>

        </div>

    </ion-content>
</ion-app>